rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

         match /users/{user} {
             allow read: if true;
             allow write: if true;
         }

          match /client/{client} {
             allow read, write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
         }

 }
}
